* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
}

/* Fundo preto */
.focus_BG {
	position: fixed;
	inset: 0;

	background: rgba(0, 0, 0, .15);

	display: flex;
	justify-content: center;
	align-items: center;
}


/* Botão de fechar */
.close-button {
	position: absolute;

	top: 20px;
	right: 20px;

	width: 30px;
	height: 30px;

	border: 0px;
	padding: 0px;

	background-color: rgba(255, 255, 255, 0);
}

.close-button img,
.close-button button {
	position: absolute;
	cursor: pointer;

	width: 100%;
	height: 100%;

	border: 0px;
	padding: 0px;

	background-color: rgba(255, 255, 255, 0);
}


/* Fundo branco */
.login-modal {
	width: 464px;
	height: 480px;
	padding: 20px 35px 18px;

	background: white;
	border-radius: 15px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.235);

	position: relative;
}


/* SP ONGS Logo */
.brand {
	height: 86px;

	display: flex;
	align-items: center;
	gap: 7.5px;
}

.brand img {
	object-fit: contain;

	width: 86px;
	height: 86px;
}

.brand span {
	color: #007DBC;

	font-size: 60px;
	font-weight: 900;
}


/* Login texto */
.login-modal h2 {
	margin-top: 24px;
	margin-bottom: 30px;

	color: #444;

	font-size: 28px;
	font-weight: 500;
	text-align: center;
}


/* Login inputs */
.input-container {
	display: flex;
	flex-direction: column;

	gap: 10px;
	padding-bottom: 20px;
}

.input-group {
	height: 55px;

	position: relative;

	background: #ddd;
	border-radius: 6px;
}

.input-group label {
	color: #666;
	font-size: 13px;
	font-weight: 300;

	position: absolute;
	padding-top: 5px;
	padding-left: 10px;
}

.input-group input {
	width: 100%;
	height: 55%;

	position: absolute;
	bottom: 0;
	left: 0;

	padding-left: 10px;
	padding-bottom: 10px;

	font-size: 20px;

	border: none;
	background: rgba(255, 255, 255, 0);
	outline: none;
}


/* Botão de login */
.login-button {
	height: 50px;
	width: 100%;

	border: none;
	border-radius: 6px;

	background: #007DBC;

	color: white;

	font-size: 24px;
	font-weight: 500;

	cursor: pointer;
}


/* Opção de cadastrar */
.or {
	display: block;
	margin-top: 10px;

	text-align: center;

	color: #444;

	font-size: 22px;
	font-weight: 500px;
}

.signin-link {
	display: block;
	margin-top: 5px;

	text-align: center;

	color: #36a9e1;

	font-size: 24px;
	font-weight: 500px;
}
