* {
	margin: 0px;
}


/* Modal */
.options_modal {
	position: fixed;
	transform: translate(-50%, -50%) scale(.825);
	top: 50%;
	left: 50%;

	height: 600px;
	width: 500px;

	background: rgb(255, 255, 255);
	border-radius: 25px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.235);

	animation: optionsModalOpen 0.175s cubic-bezier(.3, 1.5, .925, 1);
}

.sign_media_modal {
	position: fixed;
	transform: translate(-50%, -50%) scale(.8);
	top: 50%;
	left: 50%;

	width: 600px;
	height: 326px;

	background: rgb(255, 255, 255);
	border-radius: 25px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.235);

	animation: mediaModalOpen 0.175s cubic-bezier(.3, 1.5, .925, 1);
}

@keyframes optionsModalOpen {
	from {
		transform: translate(-50%, -50%) scale(.65);
	}

	to {
		transform: translate(-50%, -50%) scale(.825);
	}
}

@keyframes mediaModalOpen {
	from {
		transform: translate(-50%, -50%) scale(.625);
	}

	to {
		transform: translate(-50%, -50%) scale(.8);
	}
}

.options_brand {
	display: flex;
	align-items: center;
	gap: 10px;

	margin-top: 25px;
	margin-left: 35px;
}

.add_media_brand {
	display: flex;
	align-items: center;
	gap: 10px;

	margin-top: 15px;
	margin-left: 25px;
}

.add_media_brand img,
.options_brand img {
	object-fit: contain;

	width: 90px;
	height: 90px;
}

.add_media_brand span,
.options_brand span {
	height: 75%;
	color: #007DBC;

	font-size: 68px;
	font-weight: 900;
}

.options_modal h1 {
	font-weight: 300;
	font-style: italic;
	text-align: center;
	font-size: 34px;

	color: rgba(0, 0, 0, .9);

	margin-top: 5px;
	padding-left: 50px;
	padding-right: 50px;
}


/* Botão de fechar */
.close_button {
	position: fixed;
	cursor: pointer;
	top: 15px;
	right: 15px;

	width: 35px;
	height: 35px;

	border: 0px;
	padding: 0px;

	background-color: rgba(255, 255, 255, 0);
}

.big_close_button {
	position: fixed;
	cursor: pointer;
	top: 25px;
	right: 25px;

	width: 45px;
	height: 45px;

	border: 0px;
	padding: 0px;

	background-color: rgba(255, 255, 255, 0);
}

.big_close_button img,
.close_button img {
	position: absolute;

	width: 100%;
	height: 100%;

	border: 0px;
	padding: 0px;

	background-color: rgba(255, 255, 255, 0);
}


/* Options container */
.options_container {
	width: 420px;
	height: 385px;

	background: #D9D9D9;
	border-radius: 10px;

	margin-top: 15px;
	margin-left: 40px;
	margin-right: 40px;

	display: flex;
	flex-direction: column;
	padding: 15px;
	gap: 10px;
}

.media_option {
	width: 390px;
	height: 85px;

	position: relative;
	border-radius: 10px;

	cursor: pointer;

	transition: transform 0.2s ease;
}

.media_option:hover {
	transform: scale(1.02);
}

.media_icon {
	width: 65px;
	height: 65px;

	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	left: 10px;
}

.add_icon {
	width: 45px;
	height: 45px;

	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	right: 15px;
}

.media_option h2 {
	font-size: 45px;
	font-weight: 700;
	color: rgb(255, 255, 255);

	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	left: 90px;
}

.option_fade {
	width: 100%;
	height: 38px;

	background: linear-gradient(to top, rgba(0, 0, 0, .12), rgba(0, 0, 0, 0));
	border-radius: 10px;

	position: absolute;
	bottom: 0px;
}


/* Sign media */
.sign_media_container {
	width: 550px;
	height: 100px;

	margin-top: 12px;
	margin-left: 25px;
	margin-right: 25px;

	display: flex;
	gap: 15px;
}

.media_icon_view {
	width: 100px;
	height: 100%;

	position: relative;
	border-radius: 15px;
}

.media_icon_view img {
	width: 80%;
	height: 80%;

	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.media_input_container {
	width: 435px;
	height: 100%;

	display: flex;
	flex-direction: column;
	gap: 6px
}

.media_input_container h1 {
	font-size: 26px;
	font-weight: 300;
	color: rgba(0, 0, 0, .9);
}

.media_input {
	height: 62px;
	width: 100%;

	background: #ddd;
	border-radius: 10px;

	position: relative;
}

.media_input input {
	width: 92.5%;

	font-size: 30px;
	font-weight: 400;
	color: rgba(0, 0, 0, .9);

	background: rgba(255, 255, 255, 0);
	border: none;
	outline: none;

	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	left: 15px;
}

.add_media_button {
	height: 65px;
	width: 550px;

	background: #007DBC;
	border-radius: 10px;

	position: relative;
	margin-top: 20px;
	margin-left: 25px;
	margin-right: 25px;

	cursor: pointer;

	transition: transform 0.2s ease;
}

.add_media_button:hover {
	transform: scale(1.0125);
}

.add_media_button label {
	color: rgba(255, 255, 255, .9);
	font-size: 28px;
	font-weight: 500;

	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;

	pointer-events: none;
}

.add_media_button_disabled {
	background: rgba(0, 125, 188, .6);
	cursor: default;
}

.add_media_button_disabled label {
	color: rgba(255, 255, 255, .6);
}

.add_media_button_disabled:hover {
	transform: scale(1);
}
